label {
  margin: 0;
  display: flex;
  width: max-content;
  max-width: 100%;

  input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &.available:not(:checked) {
      & + .box {
        cursor: pointer;
      }

      & + * .box__mark {
        fill: var(--light-01);
      }
      
      & + * .box__rect {
        fill: var(--disabled-100);
      }
    }
  }

  input:enabled {
    & + .box {
      cursor: pointer;
    }

    & + * .box__rect,
    & + * .box__frame {
      fill: var(--label-quarternary);
    }

    &:checked {
      & + * .box__frame {
        fill: none;
      }
  
      & + * .box__mark {
        fill: var(--light-01);
      }
  
      & + * .box__rect {
        fill: var(--accent-blue);
      }
    }
  }

  input:disabled {
    & + * .box__rect,
    & + * .box__frame {
      fill: var(--disabled-24);
    }

    &:checked {
      & + * .box__frame {
        fill: none;
      }
  
      & + * .box__mark {
        fill: var(--light-01);
      }
    }
  }

  .box {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 8px;
    line-height: 16px;
    cursor: default;
  }

  &.wrap-text .text {
    white-space: normal;
  }

  &.size-20 {
    .box {
      width: 20px;
      height: 20px;
    }

    .text {
      line-height: 20px;
    }
  }

  &.size-24 {
    .box {
      width: 24px;
      height: 24px;
    }

    .text {
      line-height: 24px;
    }
  }

  &.disabled {
    .box {
      cursor: not-allowed;
    }
  }
}
