<div class="main-panel">
  <div class="controls-block">
    <div class="routes-block">
      <div *ngFor="let route of routes" 
        class="control">
        <checkbox 
          [size]="20"
          textRight="№ {{ route.id }} {{ route.name }}"
          [checked]="!!route.show" 
          (changeChecked)="changeRouteShow(route)"
        ></checkbox>
      </div>
    </div>

    <div>
      <p class="days-header">Расписание на:</p>

      <div class="control">
        <radiobutton 
          textRight="рабочий день{{today === DAY.WORKDAY ? IS_TODAY : ''}}"
          [checked]="showDay === DAY.WORKDAY"
          (changeValue)="changeDayShow(DAY.WORKDAY)">
        </radiobutton>
      </div>

      <div class="control">
        <radiobutton 
          textRight="выходной день{{today === DAY.DAYOFF ? IS_TODAY : ''}}"
          [checked]="showDay === DAY.DAYOFF"
          (changeValue)="changeDayShow(DAY.DAYOFF)">>
        </radiobutton>
      </div>
    </div>
  </div>

  <ng-select 
    class="custom-select"
    placeholder="Выберите остановку"
    [items]="stationsForSelect"
    (change)="changeStation($event)"
    bindValue="id"
    bindLabel="name"
  >
    <ng-template ng-option-tmp let-item="item">
      <span>{{ item.name }}</span>
      <span>{{ item.routesStr }}</span>
    </ng-template>

    <ng-template ng-label-tmp let-item="item">
      <span>{{ item.name }}</span>
      <span class="routes-str">{{ item.routesStr }}</span>
    </ng-template>
  </ng-select>

</div>

<div class="map-panel">
  <p>map panel</p>
</div>
