:host {
  width: 100%;
  display: flex;
  font-weight: 300;
  font-size: 16px;
}

.main-panel {
  width: 100%;
  max-width: 600px;
  height: 100%;
  min-height: 600px;
  flex-shrink: 0;
  padding: 16px;
}

.map-panel {
  flex-grow: 1;
  min-height: 500px;
}

@media (max-width: 992px) {
  :host {
    flex-direction: column;
  }

  .main-panel {
    max-width: none;
    height: 600px;
  }
}

.controls-block {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;

  .control {
    margin-bottom: 8px;
  }
}

.routes-block {
  min-width: 0px;
}

.days-header {
  font-weight: normal;
  margin-bottom: 6px;
}
